<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link href='https://api.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css' rel='stylesheet' />
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.1.0/mapbox-gl-geocoder.css' type='text/css' />
        <link rel="stylesheet" href="/static/app.css">
    </head>
    <body>
      <div id='main-map'></div>
      <form id="create-property">
        <input name="number" type="text" placeholder="Number">
        <input name="street" type="text" placeholder="Street">
        <input name="city" type="text" placeholder="City">
        <input name="lat" type="number" placeholder="Latitude">
        <input name="long" type="number" placeholder="Longitude">
        <input name="image_url" type="text" placeholder="image_url">
        <button type="submit">Create</button>
      </form>
      <div>
        
      </div>

        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.4.min.js"><\/script>')</script>

        <script src="/static/bundle.js"></script>
    </body>
</html>